body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #222, #444);
    background-size: 200% 150%; 
    animation: glitchAnimation 1s infinite linear; 
    z-index: -1;
}

@keyframes glitchAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%; 
    }
}

.content {
    position: relative;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    color: white; 
}

.nav-link {
    border: 2px solid transparent; 
    border-radius: 20px; 
    padding: 10px 15px; 
    transition: all 0.3s ease;
    color: white;
}

.nav-link:hover {
    border: none; 
    background: transparent; 
    color: black; 
}

.nav-link:focus {
    outline: none; 
    box-shadow: none; 
    color: black;
}

.btn-custom {
    border: none;
    background-color: transparent; 
    transition: all 0.3s ease; 
}

.btn-custom:hover {
    border: none; 
    padding: 10px 15px; 
    color: black; 
    background-color: transparent; 
}